/* ---GLOBAL CSS--- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto; 
    color: #000000; 
    background-color: #FFFFFF;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
}

.euro {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

/* ----HEADER---- */

.main-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px 10px 20px 10px;
}

.logo {
    width: 61px;
    height: 19px;
}

/* Navbar/Standard */
.navbar li {
    display: inline-block;
    padding: 0px 20px 0px 40px;
}

.navbar li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/* Navbar:Hover */
.navbar li a:hover {
    font-weight: 500;
    color: #0065FC;
    border-top: #0065FC solid 2px;
    padding-top: 48px;
}

/* ----MAIN---- */

main {
    padding: 0px 10px;
}

/* --SECTION INFOBAR-- */

#infobar {
    margin-top: 28px;
}

#infobar p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
}

/* FORM */
#form {
    height: 49px;
    margin-top: 32px;
    display: flex;
}

.formicon {
    width: 50px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    border: 1px solid  #F2F2F2;
}

.btnsearch {
    width: 132px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btnsearch_mobile {
    display: none;
    width: 70px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;   
}

/* FILTERS */
#filters {
    margin-top: 32px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#filters p {
    font-weight: 700;
    font-size: 18px;
    margin-right: 40px;
}

.container_filters {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.filters_btn {
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px; 
    padding: 0px 20px;  
}

#filters i {
    color: #0065FC;
}
.filters_btn:hover {
    background: #DEEBFF; 
    cursor: pointer;
}

/* INFO */
#info {
    display: flex;
    align-items: baseline;
    margin-top: 22px;
    gap: 12px;
}

#info i {
    color: #0065FC;
    font-size: 12px;
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    padding: 5px 10px;
}

#info p {
    font-weight: 400;
    font-size: 16px;
}

/* --OFFERS-- */

.offers {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* MAIN OFFERS */

#main_offers {
    width: 64%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
}

.main_cards {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.mcards_content {
    width: 30%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 5px;
}

.mcards_content:hover {
    cursor: pointer;
}

.mcards_content img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card_details {
    width: 100%;
    padding: 5px 5px 5px 11px;
}

.card_details h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.card_details p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;  
}

.stars i {
    font-size: 10px;
    color: #0065FC;
}

.stars i:nth-child(0n+5) {
    color: #F2F2F2;
}

.see_more {
    margin-top: 40px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    background: none;
    cursor: pointer;
}

/*  SPONSORED */

#sponsored {
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
}

#sponso_title_icon {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.fa-chart-line {
    color:#0065FC
}

.sponso_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    gap: 30px;
}

.scards_content {
    display: flex;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 5px;
    width: 100%;
}

.scards_content:hover {
    cursor: pointer;
}

.sponso_img {
    width: 40%;
    height: 144px;
}

.sponso_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;    
}

.sp_card_details {
    position: relative;
    width: 60%;
    padding: 10px 5px 0px 15px;
}

.sp_card_details h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.sp_card_details p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.sp_stars {
    position: absolute;
    bottom: 5px;  
}

.sp_stars i {
    font-size: 10px;
    color: #0065FC;
}

.sp_stars i:nth-child(0n+5) {
    color: #F2F2F2;
}

/* --SECTION ACTIVITIES-- */

#activities {
    margin-top: 80px;
    padding-top: 10px;
    width: 100%;
    height: auto;
}

#activities_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
}

.activity_card {
    width: 23%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    background-color: #FFFFFF;
}

.activity_card img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.ac_title {
    width: 100%;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0px 19px;
    align-items: center;
    display: flex;
}

/* ----FOOTER---- */

#footer {
    background: #F2F2F2;
    display: flex;
    margin-top: 90px;
    padding: 50px 70px;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

#footer div {
    width: 30%;  
}

#footer h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 48px;
}

#footer ul {
    display: inline-block;
    padding-left: 0;
}

#footer li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;    
}

/* -----------------MEDIA QUERIES-----------------*/

/*-----TABLETTE-----*/
@media screen and (max-width: 991px) {

    /* FILTER */

    #filters {
        gap: 15px;
    }

    .container_filters {
        gap: 20px;
    }

    #filters p {
        margin-right: 20px;
    }

    .filters_btn {
        font-size: 15px;
    }

    /*--OFFERS--*/

    .offers {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* MAIN OFFERS */
    #main_offers {
        width: 100%;
    }

    /* SPONSORED */

    #sponsored {
        width: 100%;
        margin-top: 52px;
    }

    .sponso_cards {
        flex-direction: row;
    }

    .sponso_img {
        height: auto;
    }

    .sp_card_details h4 {
        font-size: 14px;
        line-height: 17px;
    }
    
    .sp_card_details p {
        font-size: 13px;
        line-height: 17px;
        margin-top: 5px;
    }
}

/*-----MOBILE-----*/
@media screen and (max-width: 767px) {

    /*--HEADER--*/

    .main-header {
        flex-direction: column;
        height: auto;
        padding: 48px 0px 0px;
    }

    /* Navbar/Standard */
    .navbar {
        display: flex;
        width: 100%;
        padding-top: 50px;
    }

    .navbar ul {
        display: flex;
        width: 100%;
    }

    .navbar li {
        width: 50%;
        padding: 0;
    }

    .navbar li a {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 20px;
    }

    /* Navbar:Hover */
    .navbar li a:hover {
        border-top: none;
        padding-top: 0px;
        border-bottom: 2px solid #0065FC;
    }

    main {
        padding: 0px;
    }

    /* --INFOBAR-- */

    #infobar {
        padding: 15px 15px;
    }

    /* FORM */

    .btnsearch {
        display: none;   
    }

    .btnsearch_mobile {
        display: block;   
    }

    /* FILTERS */

    .filters_btn {
        font-size: 11px;
        gap: 6px;
        width: 45%;
        padding: 15px;
    }

    .container_filters {
        width: 100%;
    }

    /*--OFFERS--*/

    .offers {
        flex-direction: column-reverse;
    } 

    /* MAIN OFFERS */

    #main_offers {
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        padding: 0px 5px;
        margin-top: 50px;       
    }

    .main_cards {
        flex-direction: column; 
    }

    .mcards_content {
        width: 100%;
        height: 199px;
    }

    /* SPONSORED */
        
    #sponsored {
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
    }

    .sponso_cards {
        display: flex;
        flex-direction: column;
    }

    .sponso_img {
        height: 144px;
    }

    /*--ACTIVITIES--*/

    #activities {
        padding: 5px 5px;
    }

    #activities_cards {
        flex-direction: column;
        gap: 30px;
    }

    .activity_card {
        width: 100%;
    }

    .activity_card img {
        height: 135px;
    }

    /*--FOOTER--*/

    #footer {
        flex-direction: column ;
        gap: 30px;
    }

    #footer div {
        width: 100%;  
    }
}

